.loanCalc .Form {
    display: block;
    position: relative;
}

.loanCalc .FormInfo {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.loanCalc .FormInfoInput, .loanCalc .FormInfoOutput {
    display: block;
    position: relative;
}

.loanCalc .FormInfoInput .input_area {
    display: flex;
    position: relative;
    flex-direction: column;
}

.loanCalc .FormInfoInput .input_area > div:first-of-type {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.loanCalc .FormInfoInput .input_area > div:last-of-type {
    display: flex;
    position: relative;
    justify-content: start;
}





.loanCalc .FormInfoOutput {
    display: block;
    position: relative;
}

.loanCalc .FormInfoOutput > div {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.loanCalc .FormInfoOutput .payment > div {
    display: flex;
    position: relative;
    justify-content: start;
}





.loanCalc .Actions {
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
}





.loanCalc .Calculation {
    display: grid;
    position: relative;
    grid-template-columns: repeat(6, 1fr);
}