.creditCalc .Form {
    display: block;
    position: relative;
}

.creditCalc .FormInfo {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.creditCalc .FormInfoInput, .creditCalc .FormInfoOutput {
    display: block;
    position: relative;
}

.creditCalc .FormInfoInput .input_area {
    display: flex;
    position: relative;
    flex-direction: column;
}

.creditCalc .FormInfoInput .input_area > div:first-of-type {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.creditCalc .FormInfoInput .input_area > div:last-of-type {
    display: flex;
    position: relative;
    justify-content: start;
}





.creditCalc .FormInfoOutput {
    display: block;
    position: relative;
}

.creditCalc .FormInfoOutput > div {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.creditCalc .FormInfoOutput .payment > div {
    display: flex;
    position: relative;
    justify-content: start;
}





.creditCalc .Actions {
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
}





.creditCalc .Calculation {
    display: grid;
    position: relative;
    grid-template-columns: repeat(6, 1fr);
}