.loanCalc .Form {
    display: block;
    position: relative;
}

.loanCalc .FormInfo {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.loanCalc .FormInfoInput, .loanCalc .FormInfoOutput {
    display: block;
    position: relative;
}

.loanCalc .FormInfoInput .input_area {
    display: flex;
    position: relative;
    flex-direction: column;
}

.loanCalc .FormInfoInput .input_area > div:first-of-type {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.loanCalc .FormInfoInput .input_area > div:last-of-type {
    display: flex;
    position: relative;
    justify-content: start;
}

.loanCalc .FormInfoInput .input_area:first-of-type ~ div > div:last-of-type {
    flex-wrap: wrap;
}





.loanCalc .FormInfoOutput {
    display: block;
    position: relative;
}

.loanCalc .FormInfoOutput > div {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.loanCalc .FormInfoOutput .payment > div {
    display: flex;
    position: relative;
    justify-content: start;
}





.loanCalc .Actions {
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
}





.loanCalc .Calculation {
    display: grid;
    position: relative;
    grid-template-columns: repeat(6, 1fr);
}





@media only screen and (max-width: 960px) and (min-width: 501px) {
    .loanCalc .FormInfo {
        display: block;
        position: relative;
    }

    .loanCalc .Actions {
        justify-content: center;
    }
}





@media only screen and (max-width: 500px) and (min-width: 301px) {
    .loanCalc .FormInfo {
        display: block;
        position: relative;
    }

    .loanCalc .Actions {
        flex-direction: column;
    }
}





@media only screen and (max-width: 350px) {
    .loanCalc .FormInfo {
        display: block;
        position: relative;
    }

    .loanCalc .Actions {
        flex-direction: column;
    }

    .loanCalc .FormInfoOutput > div:first-of-type > div {
        flex-direction: column-reverse;
    }

    .loanCalc .FormInfoOutput > div:first-of-type ~ div {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .loanCalc .FormInfoOutput > div:first-of-type ~ div > div {
        display: none;
    }
}